<tr id="tr_<%= sub_category.id %>">
   <td>
     <%= link_to edit_category_sub_category_path(category,sub_category),  "data-toggle" => "modal", 'data-target' => '#exampleModalCenter' do %>
       <span data-feather="edit" color="orange"></span>
     <% end %>
     <%= link_to category_sub_category_path(category,sub_category), remote: true,  method: :delete, data: { confirm: 'Are you sure?' } do %>
     <span data-feather="x" color="red"></span>
     <% end %>
   </td>
   <td><%= sub_category.name %></td>
   <td><%= sub_category.description %></td>
</tr>
